body {
    margin: 0;
    background-color: #f5f8fa;
}

.Dashboard {
    float: left;
    width: 290px;
}

.ProfileCard {
    border: 1px solid #e1e8ed;
    background: #fff;
    border-radius: 6px;

}

.ProfileCard-bg {
   
    background-size: 100%;
    border-bottom: 1px solid #e1e8ed;
    height: 95px;
    border-radius: 4px 4px 0 0;
    background-position: 0 50%;
    width: 100%;
    padding: 0 1px;
    margin-left: -1px;
    margin-top: -1px;
}

.ProfileCard-Avatar {
    background-color: #fff;
    border-radius: 6px;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom;
    display: inline-block!important;
}

.ProfileCard-AvatarImage {
    border-radius: 7px;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}

.ProfileCard-User {
    position: absolute;
    top: 160px;
    left: 110px;
    width: 185px;
    line-height: 25px;
    margin: -1px 0 -2px 0;
}

.ProfileCard-Name {
    font-weight: 700;
    font-size: 18px;
}

.ProfileCard-Username {
    font-size: 12px;
    color: #66757f;
    margin-top: -5px;
    padding-left: 5px;
}

.ProfileCard-Stats {
    text-align: center;
}

.ProfileCard-StatsContainer {
    display: flex;
    
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ProfileCard-Stats:hover {
    cursor: pointer;
}

.ProfileCard-StatLabel {
    color: #8899a6;
    font-size: 14px;
    text-transform: uppercase;
    transition: color .15s ease-in-out;
}

.ProfileCard-StatLabel:hover {
    color: #2FC2EF;
}

.ProfileCard-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    transition: color .15s ease-in-out;
    color: #2FC2EF;
}

a:hover {
    color: #2FC2EF;
    cursor: pointer;
}
.Navbar-Navigation {
    float: left;
}

.Navbar-NavigationList {
    list-style: none;
    margin: 0 0 0 50px;
    padding: 0;
    height: 100%;
    
}

.Navbar-NavigationItem {
    height: 33px;
    width: 120px;
    color: #66757f;
    display: inline-block;
    text-align: center;
    padding: 10px 0 0 0;
    transition: all .15s ease-in-out;
}

.Navbar-NavigationItem:hover {
    border-bottom: 4px solid #2FC2EF;
}

.Active {
    border-bottom: 4px solid #2FC2EF;
}

.Navbar-Container {
    height: 46px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    position: fixed;
    z-index: 1000;
    text-align: center;
}
.Navbar-Logo {

    width: 38px;
    height: 38px;
    color: #1da1f2;
    cursor: pointer;
    font-size: 21px;
    margin-top: 5px;
    margin-right: 100px;
    display: inline-block;
    transition: all .25s ease-in-out;
    background-size: 100% 100%;
    background-image: url("/react-logo.png")
}

.Navbar-Right {
    float: right;
    margin-right: 20px;
    padding-top: 10px;
}


.circles {
    margin-left: auto;
    margin-right: auto;
    width: 333px;
    height: 333px;
    position: relative;
    perspective: 50000px;
    color: #61DAFB;
}
.circles span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 18.4%;
  height: 18.4%;
  border-radius: 100%;
  background: currentColor;
}
.circles div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 13.32px solid;
  border-top: 13.32px solid transparent;
  border-radius: 100%;
}
.circles div:nth-child(1) {
  animation: anim-1 1s linear infinite;
}
.circles div:nth-child(2) {
  animation: anim-2 1s linear infinite;
}
.circles div:nth-child(3) {
  animation: anim-3 1s linear infinite;
}

@keyframes anim-1 {
  from {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes anim-2 {
  from {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes anim-3 {
  from {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}

.FriendList {
    display: block;
    margin-left: 350px;
    width: 500px;
    padding: 10px;
    border-radius: 8px;
}

.FriendCard {
    display: flex;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
}

.FriendCard-Desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: center;
    min-width: 200px;
}

.FriendCard-Username {
    font-size: 18px;
}

.FriendCard-Count {
    font-size: 12px;
    color: grey;
    padding-left: 24px;
}

.FriendCard-Button {
    margin: 10px;
    color: white;
    background-color: #2FC2EF;
    background: rgba(47,194,239,.8);
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
}


.FriendCard-Button:hover {
    cursor: pointer;
    background-color: #1b95e0;
}

.FriendList-Title {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
}

.StoryCard {
    margin-top: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.StoryContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Story-Photo {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.Story-PhotoAuthor {
    margin-top: 5px;
    padding-top: 5px;
    color: #262626;
    font-size: 15px;
    font-weight: 600;
}

.Story-PhotoCaptionContainer {
    margin-top: 10px;
}
.Story-PhotoCaption {
    font-size: 15px;
}

.Story-Favorite {
    border-top: 1px solid #e5e5e5;
    margin: 10px 12px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

.FavoriteButton {
    padding-top: 5px;
    cursor: pointer;
    color: #aab8c2
}

.FavoriteButton:hover {
    color: #e81c4f;
    border-bottom: 1px solid;
}

.Story-PostAuthor {
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    padding-bottom: 10px;
}

.Column {
    display: block;
    margin-left: 350px;
}

.StoryTextBox-Container {
    background: #fff;
    margin-left: 390px;

    padding-top: 40px;
    padding-bottom:20px;

    width: 420px;
    border-radius: 8px;
}

.StoryTextBox-Input {
    border: none;
    font-size: 20px;
    outline: none;
    padding-left: 20px;
    
}

.flex {
    display: flex;
    justify-content: space-around;
}

.StoryTextBox-ButtonContainer {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.StoryTextBox-Button {
    margin-top: 20px;
    margin-right: 50px;
    padding: 10px 20px 10px 20px;
    width: 100px;
    background: #2FC2EF;
    border: none;
    color: #fff;
    border-radius: 8px;
    outline: none;
    font-size: 13px;
}

.StoryTextBox-Button:hover {
    background: #1b95e0;
    cursor: pointer;
}

.TimeTravel {
    bottom:10px;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
			 (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
    right: 10px;
    font-size: 40px;
    line-height: 25px;
    outline: none;
    color: #fff;
    background-color: rgba(47,194,239,.8);
    transition: all .15s ease-in-out;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    border-radius: 4px;
    border: none;
}

.TimeTravel:hover {
    cursor: pointer;
    background-color: #1DA213;
}

.SettingsContainer {
    margin-left: 350px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    
}

.SettingsTitle {
    color: #66757f;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
		     
}

.SettingsForm {
    display: flex;
    margin-bottom: 15px;
}

.SettingsForm-Label {
    width: 100px;
    display: flex;
    align-items: center;
}

.SettingsForm-Input {
    padding: 1em;
    width: 200px;
}

.SettingsForm-Save {
    margin-top: 30px;
    margin-left: 40px;
    width: 100px;
    padding: 1em;
    color: #fff;
    background-color: rgba(47,194,239,.8);
    transition: all .15s ease-in-out;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    border-radius: 4px;
    border: none;
    outline: none;
}

.SettingsForm-Save:hover {
    cursor: pointer;
    background-color: rgba(47,170,239,.8);
}